:root {
    --pasta: #ffe5a8;
    --marinara: #7A2626;
    --pesto: #4c7461;
    --squidink: #000000;
    --mozzarella: #ffffff;
}

* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%
}

body {
    font-family: Courier, monospace, arial;
    background-color: var(--pasta)
}

.hide {
    display: none;
}

header {
    display: flex;
    font-family: 'Brush Script MT', Courier, monospace;
    justify-content: space-around;
    background-color: var(--pesto);
    color: var(--mozzarella);
    border-radius: 1rem;
    padding: 2rem, 0rem;
    font-size: 3rem;
}

.loading-screen, .final-score, .scoreboard {
    display: flexbox;
    padding: 4rem;
    justify-content: space-around;
    align-items: center;
}