:root {
    --pasta: #ffe5a8;
    --marinara: #7A2626;
    --pesto: #4c7461;
    --squidink: #000000;
    --mozzarella: #ffffff;
}

* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%
}

body {
    font-family: Courier, monospace, arial;
    background-color: var(--pasta)
}

.hide {
    display: none;
}

header {
    display: flex;
    font-family: 'Brush Script MT', Courier, monospace;
    justify-content: space-between;
    gap: 14rem;
    padding: 0 6rem;
    background-color: var(--pesto);
    color: var(--mozzarella);
    border: .3rem solid var(--mozzarella);
    border-radius: 1rem;
    height: 15rem;
    font-size: 3rem;
}

.loading-screen, .questions, .final-score, .scoreboard {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    height: 45rem;
    margin: .2rem;
    position:relative;

    background-color: var(--mozzarella);
    border-radius: 1rem;

    font-size: 1.6rem;
    color: var(--squidink)
}


#submit, #start, .a, .b, .c, .d, .go-back, .clear {
    background-color: var(--marinara);
    border: .3rem solid var(--mozzarella);
    color: var(--mozzarella);
    padding: 1rem;
    border-radius: 1rem;
    position:center;
}