:root {
    --pasta: #ffe5a8;
    --marinara: #7A2626;
    --pesto: #4c7461;
    --squidink: #00000;
    --mozzarella: #ffffff;
}

*{
    box-sizing:border-box;
    background-color:var(--pasta);
}

html{
    font-size:62.5%
}

body {
    font-family: Courier, monospace;
}

header{
    display: flex;
    justify-content: space-around;
    }

    .hide{
        display:none;
    }